@import "~styles/config";

.bigImage {
  @include grid-col;
  @include background(
    "../../assets/images/soilImage.jpg",
    center,
    no-repeat,
    cover cover
  );
  height: 200px;
  @media (min-width: $min-768) {
    height: 600px;
    @include grid-col(5);
  }
}

.bg {
  background: #eeeeee;
  padding: 120px 0;
}

.serviceSummary {
  padding: 60px 0;
  @include grid-col;
  @media (min-width: $min-768) {
    @include grid-col(7);
  }
  &__title {
    @include rf(26, 32);
    font-family: $font-heading;
    font-weight: 300;
  }
}
