@import "../../styles/config.scss";

.__container {
  @include container;
}

.__content {
  display: flex;
  align-items: center;

  padding: $gutter 0;
}
.carouselContainer {
  position: relative;
  display: flex;
  height: 70vh;
  // width: 100%;
  background: url("assets/images/bg4.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.carouselContent {
  height: 100%;
  display: flex;
  // flex-direction: column;
  align-items: center;
  @media (min-width: $min-768) {
    flex-direction: row;
    // padding: 120px 0;
  }
}
.intro__text {
  height: 30vh;
  // width: 100%;
  background: url("assets/images/logistics1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.1);
  @media (min-width: $min-768) {
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    // @include grid-col(3);
  }
}
.smallCarousel {
  @include grid-col(12);
  // width: 100%;
  padding: 0;
  // height: 30vh;
  @media (min-width: $min-768) {
    padding: 0;
    @include grid-col(4);
  }
}
.intro__text__description {
  @include grid-col(12);
  height: 30vh;
  padding: 1rem;
  background: #ffffff90;
  display: flex;
  flex-direction: column;
  & p {
    @include rf(26, 40);
    font-family: $font-heading;
    font-weight: bold;
  }
  & p:nth-last-of-type(1) {
    margin-bottom: 2rem;
  }
  & a {
    align-self: start;
  }
  @media (min-width: $min-768) {
    @include grid-col(6);
  }
}

.carouselImage {
  max-height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.prevButton,
.nextButton {
  position: absolute;
  width: 30px;
  top: calc(50% - 20px);
  cursor: pointer;
  opacity: 0.3;
  transition: 200ms opacity ease-in-out;
  &:hover {
    opacity: 1;
  }
  @media (min-width: $min-768) {
    width: 40px;
  }
}
.nextButton {
  right: 0;
}
.prevButton {
  left: 0;
}

$gradients: () !default;
$gradients: map-merge(
  (
    chill: linear-gradient(135deg, #09e485 0%, #0291e3 100%),
    warm: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%),
    hot: linear-gradient(135deg, #f9445a 0%, #fd803f 100%),
    cold: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%),
    pop: linear-gradient(135deg, #d4145a 0%, #000000 80%),
    cool: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%)
  ),
  $gradients
);

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}

@each $gradient, $value in $gradients {
  @include bg-gradient(".bg_gradient_#{$gradient}", $value);
}
